.Lista{
    display: flex;
    justify-content: center;
}
.Listacontent{
    width: 55%;
}
.formLista{
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 90px;
    position: relative;
    top: -26px;
    margin-bottom: 40px;
}
.formLista input{
    background: #262626;
    border: 1px solid #0D0D0D;
    border-radius: 8px;
    color: #808080;
    font-size: 16px;
    padding: 16px;
}
.formLista button{
    background: #1E6F9F;
    border-radius: 8px;
    outline: 0;
    border: 0px solid transparent;
    color: #F2F2F2;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.AboutTarefas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.AboutTarefas strong{
    font-weight: 700;
    color: #4EA8DE;
}

.AboutTarefas p{
    color: #8284FA;
    font-weight: 700;
}
.AboutTarefas strong span, .AboutTarefas p span{
    background: #333333;
    border-radius: 999px;
    padding: 2px 8px;
    color: #D9D9D9;
}

.IfSemTarefas{
    border-top: 1px solid #333333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 16px;
    align-self: stretch;
    color: #808080;
}
.IfhaveTarefas{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
